* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #223e61;
    --bg-h2-1-color: #0D757D;
    --bg-h2-1-color: #ff5e33;
}

body {
    font-family: Nunito, sans-serif;
    color: #fff;
    background-color: #223e61;

}